"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-code-music":
    timbre: "Piano"
  "atom-hyperlinks":
    linksArray: "https://github.com/talentrh/talentrh-components"
  "atom-package-deps":
    ignored: [
      "linter"
      "linter-scss-lint"
    ]
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    destroyEmptyPanes: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    projectHome: "~/Projects"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 17
    preferredLineLength: 8000
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "3731c3a3-ae01-47e5-8daa-9903b144bdf9"
  "fold-functions":
    skipAutofoldWhenNotFirstLine: true
  gist:
    token: "b97c2360e7d067c15e446bf6bc8bc92dc3c6ef16"
  "nav-panel-plus":
    leftPanel: true
  navigate:
    dblclk: true
    f1: "http://devdocs.io/#q=&searchterm"
    f10: "https://duckduckgo.com/?q=&searchterm"
    f6: "http://www.bing.com/search?q=&searchterm"
  "platformio-ide-terminal":
    style:
      defaultPanelHeight: "600px"
  "project-viewer":
    autoHide: true
    disclaimer:
      v131: false
    panelPosition: "Left (first)"
  "spotify-linux": {}
  "sync-settings":
    gistDescription: "Atom Sync"
    gistId: "83d5932a995c7272d6ba79d088b740b0"
    personalAccessToken: "3e62618be1122de00aa90e0237688c5ce548ce1c"
  "terminal-plus":
    core: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
