"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-package-deps":
    ignored: [
      "linter"
    ]
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "activate-power-mode"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    projectHome: "~/Projects"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 16
    showIndentGuide: true
  "exception-reporting":
    userId: "3731c3a3-ae01-47e5-8daa-9903b144bdf9"
  "fold-functions":
    skipAutofoldWhenNotFirstLine: true
  gist:
    token: "d6ef90ae77c4e5993e8917dd3856006f281f1507"
  "nav-panel-plus":
    leftPanel: true
  "platformio-ide-terminal":
    style:
      defaultPanelHeight: "600px"
  "sync-settings":
    gistDescription: "Atom Sync"
    gistId: "83d5932a995c7272d6ba79d088b740b0"
    personalAccessToken: "3e62618be1122de00aa90e0237688c5ce548ce1c"
  "terminal-plus":
    core: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
