'.source.js':
  'this.set':
    'prefix': 'set'
    'body': "this.set('$1', $2);"
  'this.get':
    'prefix': 'get'
    'body': "this.get('$1');"
  'transitionTo':
    'prefix': 'transitionto'
    'body': "this.transitionTo('$1');"
  'transitionToRoute':
    'prefix': 'transitiontr'
    'body': "this.transitionToRoute('$1');"
  'Ember.inject.service':
    'prefix': 'injectService'
    'body': "Ember.inject.service('$1')"
