'.source.js':
  'DEBUG TOPPER':
    'prefix': 'dbt'
    'body': 'console.log("ENTROU AQUI: ${1}");'
  'try':
    'prefix': 'try'
    'body': """
      try {
        $1
      } catch (e) {
        return res.badRequest(e);
      }
    """
'*':
  'UICARD':
    'prefix': 'uicard'
    'body': """
      {{#ui-card as |card|}}
        {{#card.header}}$1{{/card.header}}

        {{#card.body}}
          $2
        {{/card.body}}
      {{/ui-card}}
    """

  'UIMODALK':
    'prefix': 'uimodal'
    'body': """
      {{#ui-modal open=true modalSize="modal-lg" data-backdrop="static" onCloseModal=(action 'closeModal') as |modal|}}
        {{#modal.title}}$1{{/modal.title}}

        {{#modal.body}}
          $2
        {{/modal.body}}

        {{#modal.footer as |footer|}}
          {{footer.cancel}}
          {{footer.submit click=(action 'confirmVote' model)}}
        {{/modal.footer}}
      {{/ui-modal}}
    """

  'UIPAGE':
    'prefix': 'uipage'
    'body': """
      {{#ui-page as |page|}}
        {{#page.header as |header|}}
          {{#header.breadcrumbs as |crumb|}}
            {{crumb.link '$1' '$2'}}
          {{/header.breadcrumbs}}

          {{header.title '$3'}}
        {{/page.header}}

        {{#page.section}}
          $4
        {{/page.section}}
      {{/ui-page}}
    """

  'UIPAGEBREADCRUMBS':
    'prefix': 'uibreadcrumbs'
    'body': """
      {{#header.breadcrumbs as |crumb|}}
        {{crumb.link '$2' '$3'}}
      {{/header.breadcrumbs}}
    """

  'headercard':
    'prefix': 'headercard'
    'body': """
        <div class="card-header d-flex align-items-center">
          <div class="title mr-auto">$2</div>

          $3
        </div>
    """
