/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  background: url(/home/bruno.haveroth/.atom/img/bg3.png);
  background-size: 100px;

  span.name {
    position: relative;
    font-size: 1.2rem;
  }
}

.tree-view .selected:before {
  background-color: #333;
}

atom-text-editor .gutter {
  background: url(/home/bruno.haveroth/.atom/img/bg3.png);
  background-size: 100px;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background: #171717;
  background: url(/home/bruno.haveroth/.atom/img/bg3.png);
  background-size: 100px;
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
  // border-color: red;
}

.syntax--string {
  color: #93a957;
  font-style: italic;
}

.syntax--entity.syntax--name.syntax--tag {
  color: #cc6666;
}

.syntax--variable.syntax--parameter.syntax--handlebars {
  color: #81a2be;
}

.syntax--entity.syntax--other.syntax--attribute-value.syntax--handlebars {
  .syntax--variable.syntax--parameter.syntax--handlebars {
    color: #bbb;
  }
}

.project-root::before{
  background: #333 !important;
  height: 35px !important;
}
.project-root-header{
  margin-bottom: 5px !important;
}

atom-text-editor .gutter .line-number.git-line-added {
  border-left: 2px solid #68bd7f !important;
}
